@import url('open-sans/stylesheet.css');

body{
	margin: 0;
	padding: : 0;
	background-color: #4A353F;
}

nav ul{
	list-style: none;
	background-color: #4A353F;
	text-align: center;
	padding: 0;
	margin: 0;
	margin-left: 800px;
	font-family: 'Open Sans', cursive;
	
}

nav li{
	font-size: 1.2m;
	line-height: 40px;
	height: 40px;
}


nav a{
	text-decoration: none;
	color: #fff;
	display: inline;
	transition: background-color 1s 
}

nav a: hover{
	background-color: #4A353F;
}

@media screen and (min-width: 600px) {
	nav li{
		width: 120px;
		border-bottom: none;
		height: 50px;
		line-height: 50px;
		font-size: 1.4em;
		display: inline-block;;
		margin-right: -4px;
		}

}

hr{
	color: #77B8D9;
	background-color: #77B8D9; 
	height: 1px;
}

#a{
	font-size: 30px;
	color: white;
	margin-left: 11vh;
	margin-top: -4vw;
	font-family: 'Open Sans', cursive;
}
img{
	margin-left: 50px;
}

#b{
	font-size: 40px;
	font-family: 'Open Sans', cursive;
	color: white;
	margin-left: 55px;
}

#c{
	margin-top: 150px;
	
}
.container img {
    max-width:560px;
    max-height:790px;
    float: right;
    height: auto;
    margin-top: 10px;
}
.poc{
	float: left;
	margin-left: 15vh;
	margin-top: 7vw;
	color: white;
	font-family: 'Open Sans', cursive;
}

form{
	background-color: #4A353F;
	width: 400px;
	padding: 20px;
	border-radius: 30px;
	font-family: 'Open Sans', cursive;
	color: white;
}
#lado{
	margin-left: 600px;
    margin-top: -230px;
	font-family: 'Open Sans', cursive;
    color: white;
    font-size: 22px;

}

#cart{
	width: 25vw;
}
#cart2{
	max-width:450px;
    max-height:450px;
    width: auto;
    height: auto;
    margin-top: 60px;
}

#nome{
	width: 30vw;
	height: 3vh;
}
#email{
	width: 30vw;
	height: 3vh;
	font-family: 'Open Sans', sans-serif;

}
#assunto{
	width: 30vw;
	height: 3vh;
	font-family: 'Open Sans', sans-serif;

}
#msg{
	font-family: 'Open Sans', sans-serif;
	width: 30vw;
	height: 20vh;
}
.botao{
	font-family: 'Open Sans', sans-serif;
	background-color: #77B8D9;
	color: black;
	border: none;
	height: 30px;
	padding: 5px 30px;
}

.info{
	margin-left: 600px;
	margin-top: -400px;
	font-family: 'Open Sans';
	color: white;
	font-size: 20px;

}
.imagem a img{
	width: 5vw;

}

#formu{
	margin-top: -5vw;
}

.lados{
	float: right;
	margin-right: 15vh;
    margin-top: 3vw;
}

#link{
	color: white;
}

#n1{
	font-size: 45px;
	margin-left: 3vh;
}

#n2{
	font-size: 60px;
	margin-left: 10vh;
	color: white;
}
#n3{
	font-size: 60px;
    color: white;
}

#proje{
	margin-top: 6vw;
    margin-left: -7vh;
}
#k{
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
}

.ativo{
	border: 0px solid white;
}

#foto_poc{
	border-radius: 50%;
	opacity: 0.5;	
}